.rebar3
_*
.eunit
*.o
*.beam
*.plt
*.swp
*.swo
.erlang.cookie
ebin
log
erl_crash.dump
.rebar
_rel
_deps
_plugins
_tdeps
logs
_build
*.dot
*.eidx
src/edump_link_list_parser.erl
src/edump_link_list.erl
*~