%% -*- mode: erlang -*-

{erl_opts, [debug_info]}.
{deps, [{erlydtl, [],
         {git, "/Users/nem/erlang/erlydtl",
          {ref,
           "2e314f8d8b5dd8fc7dbd8b0c1655e29027ac5cb3"}}}
%          {branch, "master"}}}
       ]}.

{plugins,
 [{rdtl, [],
   {git, "/Users/nem/erlang/rdtl/",
    {branch, "master"}}}
]}.
