%% -*- mode: erlang -*-

{erl_opts, [debug_info]}.
{deps, [{erlydtl, [],
         {git, "https://github.com/erlydtl/erlydtl.git",
          {branch, "master"}}}
       ,{getopt, "", {git, "https://github.com/jcomellas/getopt.git",
                      {branch, "master"}}}
       ]}.

{provider_hooks,
 [{post, [{compile, rdtl},
          {rdtl, escriptize}]}]}.

{escript_name, "edump"}.

{plugins,
 [{rdtl, "",
   {git, "https://github.com/archaelus/rdtl.git", {branch, "master"}}}]}.
