%% -*- mode: erlang -*-

{erl_opts, [debug_info]}.
{deps, [{erlydtl, [],
         {git, "https://github.com/erlydtl/erlydtl.git",
          {branch, "master"}}}
       ,{getopt, "0.8.2"}
       ]}.

{escript_name, "edump"}.

{plugins,
 [{rdtl, "",
   {git, "https://github.com/archaelus/rdtl.git", {branch, "master"}}}]}.
